<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<a href="javascript:(function() {
  var e = document.createElement('script');
  e.setAttribute('type', 'text/javascript');
  e.setAttribute('charset', 'UTF-8');
  e.setAttribute('src', '<%= asset_pack_url("bookmarklet.js") %>');
  document.body.appendChild(e);
})()">Bookmark me!</a>
